<!doctype HTML>
<html>
<head>
	<title> HushBox </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="templates/css/main.css" type="text/css"/>

</head>
<body>

<section id="intro">
  <header class="row">

    <div class="grid-6">&nbsp;</div>

    <div class="grid-6">
      <h1>HushBox</h1>
      <h2>Secure, anonymous emails that self-destruct once read</h2>

      <a href="#" class="call-to-action-large">Compose</a>
    </div>
  </header>
</section>
